<div class="span2 well" style="min-height: 50em;">
    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

    <h1>Find flights</h1>
<!--
    <input placeholder="From airport:" name="from" ng-model="findFlights.from">
    <br/><br/>
    <input placeholder="To airport:" name="to" ng-model="findFlights.to">
    <br/><br/>
    <input placeholder="Dato" name="date" ng-model="findFlights.date" >
    <br/><br/>
    <button name="See airplans" ng-click="findFlights()" value="">See airplans</button>
-->

    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2"></label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="From airport" ng-model="findFlights.from">
        </div>
        <div class="form-group">
            <label for="exampleInputName3"></label>
            <input type="text" class="form-control" id="exampleInputName3" placeholder="To airport" ng-model="findFlights.to">
        </div>
        <div class="form-group">
            <label for="exampleInputName4"></label>
            <input type="text" class="form-control" id="exampleInputName4" placeholder="dd-mm-yyyy" ng-model="findFlights.date">
        </div>
        <button type="submit" class="btn btn-default" ng-click="findFlights()">See airplans</button>
    </form>
    <p style="color:red; margin-left:0.5%;">{{noFligthFound}}</p>
   <table class="table">
       <thead>
        <tr>
            <th>Airline</th><th>Depature</th><th>Destination</th><th>Take Off Date</th><th>Landing Date</th><th>Price</th> <th>Booking</th>
        </tr>
       </thead>
       <tbody>
        <tr ng-repeat="row in data">
            <td>{{row.airline}}</td>
            <td>{{row.depature}}</td>
            <td>{{row.destination}}</td>
            <td>{{row.takeOffDate}}</td>
            <td>{{row.landingDate}}</td>
            <td>{{row.price}}</td>
            <td><a  href="/#/booking/{{row.airline}}/{{row.flightId}}}" ng-click="objectFligth(row)" > Booking</a></td>
        </tr>
       </tbody>
    </table>
</div>



